/* .box{
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
} */

.header{
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    background-color:rgb(226, 134, 5);
    border: none;
    
    
}

.navlr{
    margin-right: 50px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    width: 20%;
}

.header h2{
    color: aliceblue;
    font-size: 38px;
    padding-left: 2rem;
    
}
.img_s{
    height: 25%;
    width: 25%;
    margin-top: 1rem;
    margin-left: 35%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.story{
    margin-top: 2rem;
}

.story p{
    color: aliceblue;
    font-size: 20px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 1rem;
}

p{
    color: aliceblue;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 2rem;
}