*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
      
.main{
    width: 360px;
    margin: 2rem auto;
    height: 560px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    /*overflow: hidden;*/
    position:relative;
    flex-direction: row;

}

.tag{
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    background: #ffffff;
    padding: .5rem 2rem;
    border-radius: 5rem;
    color: rgb(0, 0, 0);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}
.img{
    height: 500px;
    height: 450px;
    background: rgb(152, 150, 150);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    overflow: hidden;
    position: relative;
}
.img img{
    width: 100%;
}

.content{
    text-align: center;
    border-bottom: 1px solid;

    height: 90px;

    height: 100px;

    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 1rem;
    background-color:rgb(10, 111, 188);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.content h3{
    border-bottom: 1px solid #e5e5e5;
}
.content h1{
    margin: 1rem 0;
    font-size: 24px;
}
.content p{
    color:rgb(54, 53, 51);
}

 .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 8px;
    background-color: aliceblue;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.ft-l{
    display: flex;
    align-items: center;
    padding-left: 2rem;
}
.ft-l img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.ft-l p{
    margin-left: 0.5rem;
}

.ft-r{
    margin-right: 2rem;
} 