body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(10, 9, 9);
}

.nav-active{
    color:gray;
    font-weight: bold;
}

.NavTitle{
    background-color: rgb(10, 9, 9);
}

/* .buttonlink{
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-sizing: border-box;
    width: 20%;
    height: 25%;
} */
