body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(10, 9, 9);
}

.nav-active{
    font-weight: bold;
    text-decoration: none;
}

.NavTitle{
    background-color: rgb(10, 9, 9);
    font-weight: bold;
    color:aliceblue;
}

 .buttonlink{
    background-color: rgb(10, 9, 9);
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-sizing: border-box;
    width: 20%;
    height: 25%;
    position:relative;
    flex-direction: row;
} 

.buttonlink a{
    color: aliceblue;
    text-decoration: none;

}


